#### Any version change made here should also be made and tested for the webapp backend and function apps in /functions and /app/backend

adal==1.2.7
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
attrs==23.2.0
Authlib==1.3.0
azure-common==1.1.28
azure-core==1.30.1
azure-cosmos==4.3.1
azure-identity==1.12.0
azure-keyvault-secrets==4.7.0
azure-mgmt-cognitiveservices==13.5.0
azure-mgmt-core==1.4.0
azure-search-documents==11.4.0b11
azure-storage-blob==12.16.0
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cryptography==42.0.7
cycler==0.12.1
dataclasses-json==0.6.6
dnspython==2.6.1
email_validator==2.1.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastapi-utils==0.6.0
fonttools==4.52.4
frozenlist==1.4.1
greenlet==3.0.3
grpcio==1.64.0
grpcio-health-checking==1.64.0
grpcio-tools==1.64.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.7
isodate==0.6.1
Jinja2==3.1.4
jsonpatch==1.33
jsonpointer==2.4
kiwisolver==1.4.5
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-experimental==0.0.59
langchain-text-splitters==0.2.0
langsmith==0.1.63
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.8.3
mdurl==0.1.2
microsoft-bing-websearch==1.0.0
msal==1.28.0
msal-extensions==1.1.0
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.0.5
mypy-extensions==1.0.0
numexpr==2.10.0
numpy==1.26.4
oauthlib==3.2.2
openai==0.27.0
orjson==3.10.3
packaging==23.2
pandas==2.2.1
pillow==10.3.0
portalocker==2.8.2
protobuf==5.27.0
psutil==5.9.8
pycparser==2.22
pydantic==2.7.2
pydantic_core==2.18.3
Pygments==2.18.0
PyJWT==2.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.2
requests-oauthlib==2.0.0
rich==13.7.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.30
starlette==0.37.2
tabulate==0.9.0
tenacity==8.3.0
tiktoken==0.4.0
tqdm==4.66.4
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.0
tzdata==2024.1
ujson==5.10.0
urllib3==2.2.1
uvicorn==0.23.2
validators==0.28.1
watchfiles==0.22.0
weaviate-client==4.6.3
websockets==12.0
wikipedia==1.4.0
yarl==1.9.4
