images: 
  webapp:
    repository: ${CONTAINER_REGISTRY_NAME}.azurecr.us/webapp # will need to get commercial/gov endpoints
    label: latest

webapp:
  env:
    azureblobstorageaccount: ${AZURE_BLOB_STORAGE_ACCOUNT}
    azureblobstoragecontainer: content
    azureblobstorageendpoint: ${BLOB_STORAGE_ACCOUNT_ENDPOINT}
    azureblobstorageuploadcontainer: upload
    azurekeyvaultendpoint: ${DEPLOYMENT_KEYVAULT_ENDPOINT}
    azurekeyvaultname: ${DEPLOYMENT_KEYVAULT_ENDPOINT}
    azureopenaichatgptdeployment: ${AZURE_OPENAI_CHATGPT_DEPLOYMENT}
    azureopenaichatgptmodelname: ${AZURE_OPENAI_CHATGPT_MODEL_NAME}
    azureopenaiendpoint: ${AZURE_OPENAI_ENDPOINT}
    azureopenaichatgptmodelversion: ${AZURE_OPENAI_CHATGPT_MODEL_VERSION}
    azureopenaiembeddingsmodelname: ${AZURE_OPENAI_EMBEDDINGS_MODEL_NAME}
    azureopenaiembeddingsmodelversion: ${AZURE_OPENAI_EMBEDDINGS_MODEL_VERSION}
    azureopenairesourcegroup: ${AZURE_OPENAI_RESOURCE_GROUP}
    azureopenaiservice: ${AZURE_OPENAI_SERVICE}
    azuresearchindex: vector-index
    azuresearchservice: ${AZURE_SEARCH_SERVICE}
    azuresearchserviceendpoint: ${AZURE_SEARCH_SERVICE_ENDPOINT}
    azuresubscriptionid: ${AZURE_SUBSCRIPTION_ID}
    azuretenantid: ${AZURE_TENANT_ID}
    chatwarningbannertext: ${CHAT_WARNING_BANNER_TEXT}
    cosmosdblogcontainername: ${AZURE_COSMOSDB_LOG_CONTAINER_NAME}
    cosmosdblogdatabasename: ${AZURE_COSMOSDB_LOG_DATABASE_NAME}
    cosmosdburl: ${AZURE_COSMOSDB_URL}
    embeddingdeploymentname: ${AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME}
    enableoryxbuild: true
    enrichmentappservicename: ${ENRICHMENT_APPSERVICE_NAME}
    containerizedAppServices: ${CONTAINERIZED_APP_SERVICES}
    scmdobuildduringdeployment: true
    targetembeddingsmodel: ${TARGET_EMBEDDINGS_MODEL}
    useazureopenaiembeddings: ${USE_AZURE_OPENAI_EMBEDDINGS}
    websitehttploggingretentiondays: 1
    weaviateUrl: http://infoasst-weaviate.infoasst.svc.cluster.local:8080
    disconnectedAi: ${DISCONNECTED_AI}
    azurearmmanagementapi: ${AZURE_ARM_MANAGEMENT_API}
    azurelocation: ${AZURE_LOCATION}
    azureaitranslationdomain: ${AZURE_AI_TRANSLATION_DOMAIN}
    usesemanticreranker: ${USE_SEMANTIC_RERANKER}

  service:
    pipname:
    pipresourcegroup:
